{% extends 'base.html.twig' %}

{% block titrePage %}Editer une formation{% endblock %}

{% block contenu %}

    {{ include('formation/_form.html.twig', {'button_label': 'Valider'}) }}
<br><br>
<div style="text-indent: 15px;">{{ include('formation/_delete_form.html.twig') }}</div>

{% endblock %}
