{% extends 'base.html.twig' %}

{% block titrePage %}Créer une nouvelle formation{% endblock %}

{% block contenu %}

    {{ include('formation/_form.html.twig') }}

    <a href="{{ path('formation_index') }}">Retour à la liste des formations</a>
{% endblock %}
