{% extends 'base.html.twig' %}

{% block titrePage %}Formation{% endblock %}



{% block contenu %}


<!-- Tableau contenant les différents stages/entreprises/formations-->
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Intitulé</th>
      <th scope="col">Entreprise</th>
      <th scope="col">Formation</th>
    </tr>
  </thead>
  <tbody>
    {% for stageCourant in stagesParNomFormation %}
    <tr>

      <td><a href = "{{path('stages', {id:stageCourant.id})}}" style="color:white; text-decoration:none;">
        {{stageCourant.titre}}</a></td>

        <td>{{stageCourant.entreprise.getNom}}</td>

        <td>
          {% for formationCourante in stageCourant.formations %}
          {{formationCourante.nomCourt}}

          {% endfor %}
        </td>

      </tr>
      {% endfor %}
    </tbody>
  </table>


{% endblock %}