{% extends 'base.html.twig' %}
{% block title %}
Ajout d'une entreprise
{% endblock %}

{% block contenu %}

<center><h4>Saisissez les caractéristiques d'une nouvelle entreprise.</h4>
    <br>

{{ form(vueFormulaire) }}</center>
{% endblock %}