{% extends 'base.html.twig' %}
{% block title %}
Ajout d'une entreprise
{% endblock %}

{% block contenu %}



<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 " style="text-align: left">
            <div class="card" style="width: 14 rem;">
                <div class="card-header">
                    Saisissez les caractéristiques d'une nouvelle entreprise
                </div>
                {{ form(vueFormulaire) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}