{% extends 'base.html.twig' %}


{% block contenu %}

<html lang="fr">

<head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
                integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
                crossorigin="anonymous">


        <!-- Surchage du CSS de Bootstrap pour faire apparaître les colonnes -->
        <!--<link rel="stylesheet" href="MonCss.css" /> -->


        <title>Entreprises</title>

</head>


<body>
        <div class="container-fluid">
                <div class="row">
                        <div class="col-md-12">
                                <h1>Liste des entreprises proposant un stage</h1>
                        </div>
                </div>
                <div class="row">
                        <div class="col-md-6">
                                <h3>Entreprise1</h3>
                        </div>
                        <div class="col-md-6">
                                <h3>Lieu</h3>

                        </div>
                </div>
                <div class="row">
                        <div class="col-md-6">
                                <h3>Entreprise2</h3>

                        </div>
                        <div class="col-md-6">
                                <h3>Lieu</h3>

                        </div>
                </div>
                <div class="row">
                        <div class="col-md-6">
                                <h3>Entreprise3</h3>
                        </div>
                        <div class="col-md-6">
                                <h3>Lieu</h3>

                        </div>
                </div>
                <div class="row">
                        <div class="col-md-6">
                                <h3>Entreprise4</h3>

                        </div>
                        <div class="col-md-6">
                                <h3>Lieu</h3>

                        </div>
                </div>
                <div class="row">
                        <div class="col-md-6">
                                <h3>Entreprise5</h3>

                        </div>
                        <div class="col-md-6">
                                <h3>Lieu</h3>

                        </div>
                </div>
                <div class="row">
                        <div class="col-md-6">
                                <h3>Entreprise6</h3>
                        </div>
                        <div class="col-md-6">
                                <h3>Lieu</h3>

                        </div>
                </div>
                <div class="row">
                        <div class="col-md-6">
                                <h3>Entreprise7</h3>
                        </div>
                        <div class="col-md-6">
                                <h3>Lieu</h3>

                        </div>
                </div>
                <div class="row">
                        <div class="col-md-6">
                                <h3>Entreprise8</h3>
                        </div>
                        <div class="col-md-6">
                                <h3>Lieu</h3>

                        </div>
                </div>
                <div class="row">
                        <div class="col-md-6">
                                <h3>Entreprise9</h3>
                        </div>
                        <div class="col-md-6">
                                <h3>Lieu</h3>

                        </div>
                </div>
                <div class="row">
                        <div class="col-md-6">
                                <h3>Entreprise10</h3>
                        </div>
                        <div class="col-md-6">
                                <h3>Lieu</h3>

                        </div>
                </div>
                <div class="row">
                        <div class="col-md-6">
                                <h3>Entreprise11</h3>
                        </div>
                        <div class="col-md-6">
                                <h3>Lieu</h3>

                        </div>
                </div>
                <div class="row">
                        <div class="col-md-6">
                                <h3>Entreprise12</h3>
                        </div>
                        <div class="col-md-6">
                                <h3>Lieu</h3>

                        </div>
                </div>
                <div class="row">
                        <div class="col-md-6">
                                <h3>Entreprise13</h3>
                        </div>
                        <div class="col-md-6">
                                <h3>Lieu</h3>

                        </div>
                </div>
                <div class="row">
                        <div class="col-md-6">
                                <h3>Entreprise14</h3>
                        </div>
                        <div class="col-md-6">
                                <h3>Lieu</h3>

                        </div>
                </div>
                <div class="row">
                        <div class="col-md-6">
                                <h3>Entreprise15</h3>

                        </div>
                        <div class="col-md-6">
                                <h3>Lieu</h3>

                        </div>
                </div </div> </div> </body> </html> {% endblock %}