<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ProStages!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        
        {% block contenu %}
        {% endblock %}
        {% block Filtres %}
        <h1> ---- Filtres ----</h1>
        {% endblock %}
        {% block footer %}
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
