<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <title>{% block title %}ProStages!{% endblock %}</title>
  {% block stylesheets %}{% endblock %}
</head>

<body>
  <div class="" container-fluid"">
    <div class="row">
      <div class="col-md-12 col-sm-24 col-xs-48">
        <!-- Zone haute du site -->
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://www.ehmtic2014.com/wp-content/uploads/2019/09/digital-marketing-agency-1.jpg"
                class="d-block w-100" style="width:auto; height:300px; ">
              <div class="carousel-caption" style="vertical-align: text-top">
                <h1 style="color: black; font-family: 'Geneva'; font-size: 120px">ProStages</h1>
              </div>
            </div>

          </div>
        </div>

        <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Accueil <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/entreprises">Entreprises </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/formations">Formations</a>
              </li>
            </ul>

          </div>
        </nav>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
    </div>
  </div>


  {% block contenu %}
  


 
  {% endblock %}
  <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 col-sm-12" style="text-align: center">
          <div class="card" style="width: 14 rem;">
            <div class="card-header">
              Afficher les stages par :
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="{{path('entreprises')}}">Entreprises</a></li>
              <li class="list-group-item"><a href="{{path('formations')}}">Formations</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  {% block footer %}


  <div class="row">
    <!-- Zone basse du site -->

    <div class="col-md-6">
    </div>
    <div class="col-md-6 offset-8">
      <nav>
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#">Précédent</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">4</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">5</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">Suivant</a>
          </li>
        </ul>
      </nav>
    </div>
  </div> {% endblock %}
  {% block javascripts %}
  {% endblock %}
</body>

</html>